fastapi==0.116.1
uvicorn[standard]==0.35.0
tortoise-orm[asyncpg]==0.25.1
aiosqlite==0.21.0
aerich==0.9.1
pydantic==2.11.7
pydantic-settings==2.10.1
email-validator==2.2.0
pwdlib[argon2]==0.2.1

# тесты
pytest==8.4.1
pytest-asyncio==1.1.0
httpx==0.28.1
pytest-cov==6.2.1

# качество кода
ruff==0.12.8
